SECRET_KEY=cambia-esto-por-una-clave-segura
DATABASE_URL=postgresql://usuario:clave@host:5432/cafeteria
FLASK_ENV=development

# Administrador
ADMIN_DOCUMENTO=1000000
ADMIN_NOMBRE=Administrador SENA
ADMIN_EMAIL=admin@ejemplo.com
ADMIN_PASSWORD=ClaveSegura123*

# Cajero
CAJERO_DOCUMENTO=2000000
CAJERO_NOMBRE=Cajero Principal
CAJERO_EMAIL=cajero@ejemplo.com
CAJERO_PASSWORD=ClaveSegura123*

# Entregador
ENTREGADOR_DOCUMENTO=3000000
ENTREGADOR_NOMBRE=Entregador Principal
ENTREGADOR_EMAIL=entregador@ejemplo.com
ENTREGADOR_PASSWORD=ClaveSegura123*
