{% extends "base.html" %}

{% block nav_links %}
  <li class="nav-item">
    <a class="nav-link {% if request.endpoint == 'admin_panel.dashboard' %}active{% endif %}"
       href="{{ url_for('admin_panel.dashboard') }}">
      <i class="bi bi-speedometer2 me-1"></i>Dashboard
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if request.endpoint == 'admin_panel.productos' %}active{% endif %}"
       href="{{ url_for('admin_panel.productos') }}">
      <i class="bi bi-box-seam me-1"></i>Productos
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if request.endpoint == 'admin_panel.usuarios' %}active{% endif %}"
       href="{{ url_for('admin_panel.usuarios') }}">
      <i class="bi bi-people me-1"></i>Usuarios
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if request.endpoint == 'admin_panel.ventas' %}active{% endif %}"
       href="{{ url_for('admin_panel.ventas') }}">
      <i class="bi bi-graph-up me-1"></i>Ventas
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if request.endpoint == 'admin_panel.compras' %}active{% endif %}"
       href="{{ url_for('admin_panel.compras') }}">
      <i class="bi bi-truck me-1"></i>Compras
    </a>
  </li>
{% endblock %}

{% block content %}
{% block admin_content %}{% endblock %}
{% endblock %}
